[submodule "ActiveAndroid"]
	path = ext/ActiveAndroid
	url = https://github.com/pardom/ActiveAndroid.git
[submodule "Scribe"]
	path = ext/scribe-java
	url = https://github.com/fernandezpablo85/scribe-java
